<!DOCTYPE html>
<html ng-app="teste" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>

    <link rel="stylesheet" href="./app/css/app.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script src="app/lib/angular/angular.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/app.js"></script>
    <script src="./app/services/clienteService.js"></script>
    <script src="./app/services/addressService.js"></script>
    <script src="./app/controllers/clienteController.js"></script>
  </head>
  <body ng-controller="clienteController">
    <div class="jumbotron">
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
        "
      >
        <h4>Listagem</h4>
        <button class="btn btn-primary btn-sm" ng-click="navigate()">
          Criar nova pessoa
        </button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>idade</th>
          <th>Data Nascimento</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Opções</th>
        </tr>
        <tr class="selecionado" ng-repeat="contato in contatos">
          <td>{{contato.nome}}</td>
          <td>{{contato.idade}}</td>
          <td>{{contato.dataNascimento | date}}</td>
          <td>{{contato.email}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.celular}}</td>
          <td>{{contato.idade}}</td>
          <td>
           
            <button
              class="btn btn-danger btn-sm"
              ng-click="deleteCliente(contato.pessoaId)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </table>
      <hr />

      <div
        class="alert alert-danger"
        ng-show="contatoForm.nome.$dirty &&  contatoForm.nome.$invalid"
      >
        por favor preenchar o nome
      </div>

      <div
        class="alert alert-danger"
        ng-show="contatoForm.nome.$dirty && contatoForm.telefone.$invalid"
      >
        por favor preenchar o telefone
      </div>

      <div class="d-grid gap-2"></div>
    </div>
    <!-- <div ng-include="'app/view/footer.html'"></div> -->
  </body>
</html>
